cluster/
data/output_sets/*
.ipynb_checkpoints/

src/__pycache__/
/__pycache__/

data/input_recall_sets/Glucocorticoid_receptor/*.smi
data/input_recall_sets/Leukocyte_elastase/*.smi

data/results_phram_fp/*/cdpkit/*/*/phfp_of_output_set*

data/results_phram_fp/*/cdpkit/*/*/phfp_of_recall_set*
